
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summaryData{
    display: flex;
    justify-content: space-around;
}

.financeTitle{
    text-align: center;
    margin: 10px;
}

.hr{
    height: 100px;
}